extends layout

block content
    p Want to make an order? Well you're at the right place. Fill out your contact information, and submit your order. We'll get in contact with you as soon as possible, and discuss the details, and handle payment.
    form(id='order_form', method='post', action='/submitted')
        p
            input(type='text', name='name' placeholder="Name")
        p
            input(type='text', name='address' placeholder="Address")
        p 
            input(type='text', name='phone_number' placeholder="Phone Number")
        select(name='dropbox', value='dropbox')
            option(value='category1') Cat
            option(value='category2') Ferret
            option(value='category3') Hamster
        p
            input(type='checkbox', name='service1', value='Full Package')
            label Full Package - $549.99
        p
            input(type='checkbox', name='service2', value='One Day')
            label One Day - $19.99
        p
            input(type='checkbox', name='service3', value='One Week')
            label One Week - $99.99
        p
            input(type='checkbox', name='service4', value='Overnight Package')
            label Overnight Package - Varies
        p
            input(type='checkbox', name='service5', value='Food Package')
            label Food Package - Varies
        p
            input(type='checkbox', name='service6', value='Toy Package')
            label Toy Package - $9.99
        p
            input(type='checkbox', name='service7', value='Clothing Package')
            label Clothing Package - $15.99
        p
            input(type='checkbox', name='service8', value='Add Pet')
            label Add Another Pet - Varies
        p
            input(type='submit', value='Submit Order')
    div(id="order-img")
        img(src="images/cat-box.jpg", alt="images/cat-box.jpg")