extends layout

block content
    div
        h2(class="apricot-text") Welcome to Critter House!
        div(class="pic-text")
            img(id="title-pic-01" src="images/title-about-cat.jpg", alt="images/title-about-cat.jpg")
            p &emsp; Have you ever wanted a pet, but you don't want the long term responsibilies of actually owning one? Ever wanted to surprise your kid or significant other with a pony or a puppy? Well if so, then let me introduce you to Critter House, a Utah based service that takes care of a variety of animals, all of whome were adopted from local shelters. We take care of them, so you can rent them for hours at a time. 
    h2(class="apricot-text") How does it work?
    div(class="citrus-round-corner-box")
        p(class="white-text") We have want to have a wide variety of animals to choose from. However right now we only carry cats, ferrets, and hamsters. When you've made your choice, make a request on the orders page. We will contact you from there to talk about availibility, scheduling, and any special needs. 
    div
        h2(class="apricot-text") Questions?
        p &emsp; Feel free to contact us
        p &emsp; Phone: 1-801-555-5555
        p &emsp; Email: contact@critterhouse.biz