extends layout

block content
    div
        h2(class="apricot-text") Welcome to Critter House!
        div(class="pic-text")
            img(id="title-pic-01" src="images/title-about-cat.jpg", alt="images/title-about-cat.jpg")
            p &emsp; Have you ever wanted a pet, but you don't want the long term responsibilies of actually owning one? Ever wanted to surprise your kid or significant other with a pony or a puppy? Well if so, then let me introduce you to Critter House, a Utah based service that takes care of a variety of animals, all of whome were adopted from local shelters. We take care of them, so you can rent them for hours at a time. 
    div(class="citrus-round-corner-box")
        h2(id="white-text") How does it work?
        p(id="white-text") &emsp; We have a wide variety of animals to choose from, when you've made your choice, make a request on the orders page. We will contact you from there to talk about availibility, scheduling, and any special needs. Some animals that we house can be potentially dangerous and will require a handler to be present. For these animals we will charge an additional $100, but that cost will be for the entire day. In order to minimize risk, we don't allow our animals to stay overnight, however if you want to block out an entire week, we can deliver them as early as 6:00 AM, and retrieve them as late at 9:00 PM giving you up to 15 hours with your fuzzy companion.
    div
        h2(class="apricot-text") Questions?
        p &emsp; Feel free to contact us
        p &emsp; Phone: 1-801-555-5555
        p &emsp; Email: contact@critterhouse.biz