/* line 15, ../sass/style.scss */
body {
  background: #FFFFFF;
  color: #6B7A8F;
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
}

/* line 22, ../sass/style.scss */
#navbar {
  text-align: center;
}

/* line 26, ../sass/style.scss */
ul {
  width: 750px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  text-align: center;
}

/* line 36, ../sass/style.scss */
#nav ul {
  display: inline-block;
}

/* line 40, ../sass/style.scss */
#nav li {
  float: left;
  margin: auto;
  width: 250px;
}

/* line 46, ../sass/style.scss */
li a {
  display: block;
  color: #F7882F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40pt;
  font-family: "Indie Flower", cursive;
}

/* line 56, ../sass/style.scss */
li a:hover {
  background-color: #FFFFFF;
  color: #6B7A8F;
}

/* line 61, ../sass/style.scss */
h2 {
  font-family: "Indie Flower", cursive;
  font-size: 30pt;
}

/* line 66, ../sass/style.scss */
.container {
  position: relative;
  text-align: center;
}

/* line 57, ../sass/style.scss */
/* line 72, ../sass/style.scss */
.title-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
  color: #F7882F;
  font-family: "Indie Flower", cursive;
}

/* line 82, ../sass/style.scss */
.main {
  margin-left: 20%;
  margin-right: 20%;
}

/* line 87, ../sass/style.scss */
.foot {
  height: 30px;
}

/* line 91, ../sass/style.scss */
.citrus-round-corner-box {
  border-radius: 25px;
  background: #F7C331;
  padding: 10px 50px;
  color: #FFFFFF;
}

/* line 100, ../sass/style.scss */
.apricot-text {
  color: #F7882F;
}

/* line 104, ../sass/style.scss */
.pic-text {
  display: inline-block;
  margin-bottom: 30px;
}

/* line 110, ../sass/style.scss */
#title-pic-01 {
  width: 80%;
}
